#Gitignore file for GeoCat

#Eclipse project files
.project
.buildpath
.settings/

#Custom GeoCat configuration file
src/config/config.php

# NodeJS modules
node_modules

# NodeJS modules
node_modules/
