/*
	Increase hight of navigation bar
*/
div[role="navigation"] ul li a {
	height: 24px;
	line-height: 24px;
}

.ui-panel.ui-panel-open {
	position:fixed;
}
.ui-panel-inner {
	position: absolute;
	top: 1px;
	left: 0;
	right: 0;
	bottom: 0px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.ui-btn-inline {
	margin-right: 0 !important;
}

/* ==============================================================================
	Start page
============================================================================== */

div.mapbg {
	background-color: white;
	background-image: linear-gradient(#FFF 0%, #A4A4A4 100%);
}


#Home > div.ui-content {
	padding: 4px;
}

.mainpage-grid {
	width: 100%;
	max-width: 640px;
	margin: 12px auto;
	padding: 0;
	text-align: center;
}

.tile {
	display: inline-block;
	position: relative;
	min-width: calc(50% - 14px);
	max-width: calc(50% - 14px);

	background-color: #bbbbbb;
	border: 1px solid white;
	margin: 4px;
	text-align: left;
}

.tile:before {
    content: "";
    display: block;
    padding-top: 90%;
}

.tile > .content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.tile > .content > * {
	margin: 0;
	text-shadow:0 0 0 !important;
	font-weight: initial;
}

.tile > a.content {
	padding: 0;
	text-decoration: none;
	color: white;
	background-repeat: no-repeat;
	background-position: bottom;
}

.tile > a.content:hover {
	color: white;
}

.tile > a.content:hover > h1 {
	background-color: rgba(0,0,0,0.7);
}

.tile > .content > aside {
	position: absolute;
	bottom: 0; right: 0;
	font-size: 12px;
	padding: 2px 8px;
	border-top-left-radius: 4px;
	background-color: rgba(255,255,255,0.5);
}

.tile > .content > h1 {
	font-size: 17px;
	padding: 4px 10px;
	background-color: rgba(0,0,0,0.4);
	height: 1.3em;
	overflow: hidden;
	transition: background-color 0.5s;
}

.tile > .content > p {
	padding: 8px 10px;
}

@media ( min-width: 900px ) {
	.mainpage-grid {
		max-width: 900px;
	}

	.tile {
		min-width: calc(33% - 14px);
		max-width: calc(33% - 14px);
		margin: 6px;
	}

	.tile > .content > h1 {
		font-size: 24px;
	}

	div.mapbg {
		background-image: url('../img/etc/map.jpg');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0 42px;
	}
}

@media ( min-width: 1200px ) {
	.mainpage-grid {
		max-width: 1200px;
	}

	.tile {
		min-width: calc(25% - 18px);
		max-width: calc(25% - 18px);
	}
}

/* ==============================================================================
	Listview styles
============================================================================== */

.listview-header{
	margin-top: 0;
}

.listview-left {
	float: left;
}

.listview-right {
	float: right;
}

.listview-right:last-Child {
	font-weight: 500;
}

.listview-right:not(:last-Child) {
	cursor: pointer;
	width: 2.5em;
	margin-right: -1.143em;
	margin-left: 8px;
	padding-right: 3px;
	border-left: 1px solid #646464;
	text-align: center;
}

.listview-right:not(:last-Child):hover {
	color: red;
}

li[data-role="list-divider"]:not(:first-Child){
	border-top: 1px solid #969696 !important;
}

/* ==============================================================================
	General styles
============================================================================== */

.required {
	color: #357fb8;
}

.no-shadow, .no-shadow *, table.styled-table * {
   text-shadow:0 0 0 !important;
}

.regular {
	font-weight: initial !important;
}

.white {
	color: white;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.small {
	font-size: .6em;
}

.clickable {
	cursor: pointer;
}

.full-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

table {
	width: 100%;
}

td {
	font-size: .75em;
}

blockquote {
	background-color: #ececec;
	border: 1px solid #acacac;
	border-left: 6px solid #00aeff;
	border-radius: 3px;
	padding: 8px;
	margin-left: 16px;
	font-size: 14px;
}

dl {
	border: 1px solid #acacac;
	border-radius: 3px;
}

dt {
	background-color: #ececec;
	border-left: 6px solid #70e74d;
	padding: 4px;
}

dd {
	margin-left: 16px;
	padding: 4px;
	font-size: 14px;
}

dd + dt {
	margin-top: 16px;
}

/* ==============================================================================
	Input dialog
============================================================================== */

.input-dialog {
	display: inline-block;
	margin: 8px;
	min-width: 300px;
	width: 40%;
	text-shadow:0 0 0 !important;
}

.input-dialog > h3 {
	color: black;
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 1.2em;
}

.input-dialog label {
	color: black;
	text-align: left;
	margin-bottom: 2px;;
}

.input-dialog input {
	color: black;
	text-align: left;
	width: 100%;
	color: black;
	background-color: rgba(128,128,128,0.1);
	margin: 0 0 8px 0;

	font-size: 14pt;

	border: solid 2px #646464;
	transition-property: border, color;
	transition-duration: 0.6s;
}

.input-dialog input:focus {
	border: solid 2px #145c74; /* #099fd7 | #067199 */
	color: #145c74;
}

.input-dialog > p {
	margin: 0 0 28px 0;
}

.input-dialog > p.small-margin {
	margin: 0 0 8px 0;
}

.input-dialog > p > span {
	transition: color 0.5s;
	color: #099fd7;
	cursor: pointer;
	font-weight: 500;
}

.input-dialog > p > span:hover {
	color: #067199;
}

.popup-login {
	/* Workaround: Scrollbar + short username may lead to a popup with two rows */
	right: 16px;
	top: 8px;
	width: 105%;
}

.popup-login div:first-child {
	padding: 5px;
}

/* ==============================================================================
	GPS Radar
============================================================================== */

canvas.gpsradar {
	width: 100%;
	height: 100%;
}

.gpsradar-container {
	margin: 0px auto;
}

/* ==============================================================================
	About page
============================================================================== */

#about-content {
	position: relative;
	margin: 0px auto;
	padding: 0px 12px 8px 12px;
	max-width: 800px;
}

/* ==============================================================================
	Account page
============================================================================== */

#Account li[data-icon="gear"] > a {
	min-height: 16px;
}

/* ==============================================================================
	Places page
============================================================================== */

#places .ui-content {
	padding: 0 4px;
}

@media (max-width:800px) {
	#places-list li a p.ui-li-aside {
		display: none;
	}
}

#places-list {
	margin-top: 0;
}

#places-search-container {
	position: fixed;
	top: 4px;
	width: 80%;
	left: 10%;
	background-color: rgba(64,64,64,0.9);
	border: 1px solid #121212;
	z-index: 100;
	padding: 0px;
	display: none;
}

#places-search-confirm{
	line-height: 1.3;
	background-color: #323232;
	border: 1px solid #121212;
	padding: 8px 16px;
	color: white;
	cursor: pointer;
}

/* ==============================================================================
	Challenge Navigator
============================================================================== */

.hint {
	color: #777777;
	font-style: italic;
}

.reached-cache > span > span:first-child {
	color: #57dc2e;
}

.active-cache {
	background-color: #098cc9 !important;
	/*background-image: linear-gradient(to right, #098cc9 0%, transparent 80%);*/
}

#challenge-navigator-coord-list li.ui-li-divider {
	cursor: pointer;
}

#challenge-nav-waiting {
	position: absolute;
	left: 20%; right: 20%;
	background-color: rgba(0, 64, 90, 0.8);
	border-radius: 0 0 3px 3px;
	color: white;
	padding: 4px;
	text-align: center;
	font-size: 12px;
	transition: opacity 0.5s;
	opacity: 0;
}

/* ==============================================================================
	Challenge Info
============================================================================== */

#ChallengeInfo > div.ui-content {
	padding: 8px;
}

.title {
	font-size: 2em;
	border-bottom: 1px solid black;
	margin-top: 0;
	margin-bottom: 8px;
	text-align: center;
}

.description {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	font-style: italic;
	color: #555555;
}

.delete-team-col {
	width: 16px;
}

.delete-team-col span {
	cursor: pointer;
}

.delete-team-col span:hover {
	color: red;
}

/* ==============================================================================
	Buddies page
============================================================================== */

#buddy-search-container {
	background-color: #e9e9e9;
	padding: 2px 4px;
}

#buddy-search-container span {
	background-color: #777777;
	color: white;
	border: 1px solid #454545;
	padding: 8px 16px 9px 16px;
	margin-right: 4px;
	cursor: pointer;
	line-height: 1.3;
}

/* ==============================================================================
	Styled-Table
============================================================================== */
table.styled-table {
	border-collapse: collapse;
}

table.styled-table caption {
	padding: 6px;
	font-size: 1.1em;
}

table.styled-table caption {
	background: linear-gradient(#0c5c76, #2f739a); /* #165b83, */
	color: white;
}

table.styled-table thead {
	background-color: #2f739a;
	color: white;
}

table.styled-table td {
	padding: 2px;
}

/*table.styled-table tbody tr {
	line-height: 2.25em;
}*/

table.styled-table tbody tr:nth-child(even) {
    background-color: #dedede;
}

table.styled-table tbody tr:nth-child(odd) {
    background-color: #efefef;
}

table.styled-table thead tr th {
	text-align: left;
	font-weight: initial;
	border-bottom: 1px solid black;
	font-size: 0.9em;
}

table.styled-table tr:not(:first-child) td {
	border-top: 1px solid #989898;
}

table.styled-table th {
	padding: 4px;
}

table.styled-table td {
	padding: 8px 4px 8px 4px;
}

table.styled-table tbody tr td {
	margin: 0;
}

/* ==============================================================================
	Page footer
============================================================================== */

.geocat-footer {
	position: fixed;
	bottom: 0px;
	height: 16px;
	z-index: 1025;
}

.geocat-footer a, .geocat-footer span {
	float: left;
	color: white;
	background-color: #313741;
	font-size: 10px;
	padding: 0px 4px;
	font-weight: 500;
	text-shadow:0 0 0 !important;
	height: 100%;
	line-height: 16px;
	text-decoration: none;
	cursor: default;
}

.geocat-footer a:hover{
	text-decoration: underline;
	cursor: pointer;
}

.geocat-footer span:last-child {
	border-top-right-radius: 4px;
}

/* ==============================================================================
	GPS Tracking indicator
============================================================================== */

#track-indicator {
	right: 0;
	display: none;
}

#track-indicator span:first-child {
	border-radius: 4px 0 0 0;
}

.button-list {
	padding-top: 4px;
}

.button-list > p {
	margin: 4px 0;
}

.button-list button {
	min-height: 32px;
	min-width: 250px;
	width: 50%;
	border: 1px solid white;
	background: rgba(0,0,0,0.5);
	color: white;
	cursor: pointer;
}
