/* ==============================================================================
	Substance Stylesheet
	
	The styles are inspired by the "Material-Design" of Android
============================================================================== */

.substance-notification {
	left: 0px;
	right: 0px;
	width: 100%;
	position: fixed;
	text-align: center;
	bottom: 20%;
	padding-bottom: 1px;
	z-index: 1025;
}

.substance-notification-animated {
	transition-property: opacity, background-color;
	transition-duration: 0.5s;
	opacity: 0;
}

.substance-footer {
	left: 0px;
	right: 0px;
	width: 100%;
	position: fixed;
	z-index: 1024;
	text-align: center;
	bottom: -1px;
	padding-bottom: 1px;
}
.substance-button {
	display: inline-block;
	border-radius: 100%;
	width: 3.5em;
	height: 3.5em;
	background: dodgerblue;
	line-height: 3.5em;
	margin-left: 0.4em;
	margin-right: 0.4em;
	
	background-repeat: no-repeat;
	background-size: 80% 80%;
    background-position: center;
    
    cursor: pointer;
}

.substance-button-animated {
	transition-property: width, height, line-height, margin, background;
	transition-duration: 0.5s;
	margin-bottom: 1em;
}

.substance-button-animated:hover {
	width: 4.5em;
	height: 4.5em;
	line-height: 4.5em;
	margin-bottom: 0em;
}

.substance-skyblue {background-color: #63b8d7;}
.substance-skyblue:hover {background-color: #4f98b3;}

.substance-blue {background-color: #098cc9;}
.substance-blue:hover {background-color: #0b6894;}

.substance-lime {background-color: #baef2a;}
.substance-lime:hover {background-color: #6bd51d;}

.substance-green {background-color: #64d442;}
.substance-green:hover {background-color: #10b81c;}

.substance-orange {background-color: #ffca3b;}
.substance-orange:hover { background-color: #ef952a;}

.substance-red {background-color: #d20707;}
.substance-red:hover {background-color: #b30000;}
